.DS_Store

happybets/Pods/Pods.xcodeproj/project.pbxproj
happybets/Pods/Pods.xcodeproj/xcuserdata/xavierwg13.xcuserdatad/xcschemes/xcschememanagement.plist
happybets/happybets.xcodeproj/project.pbxproj
happybets/happybets.xcodeproj/xcuserdata/xavierwg13.xcuserdatad/xcschemes/xcschememanagement.plist
happybets/happybets.xcworkspace/xcuserdata/xavierwg13.xcuserdatad/UserInterfaceState.xcuserstate

